<div class="wrapper">
  <!-- Navbar -->
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <!-- Sidebar content here -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>DataTables</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Reviews Management</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <!-- /.card -->

            <div class="card">
              <div class="card-header">
                <h3 class="card-title">DataTable with default features</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>Review ID</th>
                      <th>Review Star</th>
                      <th>Review Text</th>
                      <th>User ID</th>
                      <th>User Full Name</th>
                      <th>Hotel ID</th>
                      <th>Restaurant ID</th>
                      <th>Is Hide</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    @for(review of reviews; track review) {
                    <tr>
                      <td>{{ review.reviewId }}</td>
                      <td>{{ review.reviewStar }}</td>
                      <td>{{ review.reviewText }}</td>
                      <td>{{ review.userId }}</td>
                      <td>{{ review.userFullName }}</td>
                      <td>{{ review.hotelId }}</td>
                      <td>{{ review.restaurantId }}</td>
                      <td>{{ review.isHide }}</td>
                    </tr>
                  }
                  </tbody>
                  <!-- <tfoot>
                    <tr>
                      <th>Review ID</th>
                      <th>Review Star</th>
                      <th>Review Text</th>
                      <th>User ID</th>
                      <th>User Full Name</th>
                      <th>Hotel ID</th>
                      <th>Restaurant ID</th>
                      <th>Is Hide</th>
                    </tr>
                  </tfoot> -->
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="float-right d-none d-sm-block">
      <b>Version</b> 3.2.0
    </div>
    <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="../../../../assets/plugins/jquery/jquery.min.js"></script>

<!-- Bootstrap 4 -->
<script src="../../../../assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables  & Plugins -->
<script src="../../../../assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../../../assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="../../../../assets/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="../../../../assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="../../../../assets/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="../../../../assets/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="../../../../assets/plugins/jszip/jszip.min.js"></script>
<script src="../../../../assets/plugins/pdfmake/pdfmake.min.js"></script>
<script src="../../../../assets/plugins/pdfmake/vfs_fonts.js"></script>
<script src="../../../../assets/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="../../../../assets/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="../../../../assets/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<!-- AdminLTE App -->
<script src="../../../../assets/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../../../assets/dist/js/demo.js"></script>
<!-- Page specific script -->
