<div class="wrapper">
  <div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Edit Review</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Edit Review</li>
            </ol>
          </div>
        </div>
      </div>
    </section>

    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Edit Review Information</h3>
              </div>
              <div class="card-body">
                <form [formGroup]="editForm" (ngSubmit)="save()">
                  <div class="form-group">
                    <label for="reviewStar">Star Rating</label>
                    <input type="number" id="reviewStar" formControlName="reviewStar" class="form-control" min="1" max="5">
                  </div>

                  <div class="form-group">
                    <label for="reviewText">Review Text</label>
                    <textarea id="reviewText" formControlName="reviewText" class="form-control" rows="3"></textarea>
                  </div>

                  <div class="form-group">
                    <label for="userId">User ID</label>
                    <input type="text" id="userId" formControlName="userId" class="form-control">
                  </div>

                  <div class="form-group">
                    <label for="hotelId">Hotel ID</label>
                    <input type="text" id="hotelId" formControlName="hotelId" class="form-control">
                  </div>

                  <div class="form-group">
                    <label for="restaurantId">Restaurant ID</label>
                    <input type="text" id="restaurantId" formControlName="restaurantId" class="form-control">
                  </div>

                  <div class="form-group">
                    <label>Is Hidden</label>
                    <div class="custom-control custom-radio">
                      <input class="custom-control-input" type="radio" id="isHideNo" formControlName="isHide" [value]="false">
                      <label for="isHideNo" class="custom-control-label">No</label>
                    </div>
                    <div class="custom-control custom-radio">
                      <input class="custom-control-input" type="radio" id="isHideYes" formControlName="isHide" [value]="true">
                      <label for="isHideYes" class="custom-control-label">Yes</label>
                    </div>
                  </div>

                  <button type="submit" class="btn btn-primary">Save Changes</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>