<div class="wrapper">
  <div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Site Type Management</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Site Types</li>
            </ol>
          </div>
        </div>
      </div>
    </section>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Site Type Data</h3>
                <a [routerLink]="['/add-site-type']" class="btn btn-primary float-right">Add Site Type</a>
              </div>
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>Type ID</th>
                      <th>Type Name</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    @for (siteType of siteTypes; track siteType) {
                    <tr>
                      <td>{{ siteType.typeId }}</td>
                      <td>{{ siteType.typeName }}</td>
                      <td>
                        <button type="button" class="btn btn-sm btn-danger" (click)="delete(siteType.typeId.toString())">Delete</button> |
                        <a [routerLink]="['/edit-site-type', {id: siteType.typeId}]" class="btn btn-sm btn-success">Edit</a>
                      </td>
                    </tr>
                  }
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
