<div class="wrapper">
  <!-- Phần đầu giữ nguyên -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Site Management</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Sites</li>
            </ol>
          </div>
        </div>
      </div>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Site Data</h3>
                <a [routerLink]="['/add-site']" class="btn btn-primary float-right">Add Site</a>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>Site ID</th>
                      <th>Site Name</th>
                      <th>Location ID</th>
                      <th>Type ID</th>
                      <th>Is Hidden</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    @for (site of sites; track site) {
                      <tr>
                        <td>{{ site.siteId }}</td>
                        <td>{{ site.siteName }}</td>
                        <td>{{ site.locationId }}</td>
                        <td>{{ site.typeId }}</td>
                        <td>{{ site.isHide }}</td>
                        <td>
                          <button type="button" class="btn btn-sm btn-danger" (click)="delete(site.siteId.toString())">Delete</button> | 
                          <a [routerLink]="['/edit-site', {id: site.siteId}]" class="btn btn-sm btn-success">Edit</a>
                        </td>
                      </tr>
                    }
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</div>
<!-- ./wrapper -->