<h3>Room List</h3>
<table>
  <thead>
    <tr>
      <th>Room ID</th>
      <th>Room Name</th>
      <th>Room Description</th>
      <th>Room Price</th>
      <th>Number of Single Beds</th>
      <th>Number of Double Beds</th>
      <th>Is Hidden</th>
      <th>Hotel ID</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let room of rooms">
      <td>{{ room.room_id }}</td>
      <td>{{ room.room_name }}</td>
      <td>{{ room.room_description }}</td>
      <td>{{ room.room_price }}</td>
      <td>{{ room.num_of_single_bed }}</td>
      <td>{{ room.num_of_double_bed }}</td>
      <td>{{ room.is_hide }}</td>
      <td>{{ room.hotel_id }}</td>
      <td>
        <a [routerLink]="['/add-room' ]">Add</a>
      </td>
    </tr>
  </tbody>
</table>
