<div class="wrapper">
  <div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Beach Management</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Beaches</li>
            </ol>
          </div>
        </div>
      </div>
    </section>

    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Beach Data</h3>
                <a [routerLink]="['/add-beach']" class="btn btn-primary float-right">Add Beach</a>
              </div>

              <div class="card-body">
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>Beach ID</th>
                      <th>Beach Name</th>
                      <th>Beach Location</th>
                      <th>Location ID</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    @for (beach of beaches; track beach) {
                      <tr>
                        <td>{{ beach.beachId }}</td>
                        <td>{{ beach.beachName }}</td>
                        <td>{{ beach.beachLocation }}</td>
                        <td>{{ beach.locationId }}</td>
                        <td>
                          <button class="btn btn-sm btn-danger" (click)="delete(beach.beachId)">Delete</button> |
                          <a [routerLink]="['/edit-beach', beach.beachId]" class="btn btn-sm btn-success">Edit</a>
                        </td>
                      </tr>
                    }
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>