<div class="wrapper">
  <div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Edit Room</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Edit Room</li>
            </ol>
          </div>
        </div>
      </div>
    </section>

    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Edit Room Information</h3>
              </div>
              <div class="card-body">
                <form [formGroup]="editForm" (ngSubmit)="save()">
                  <div class="form-group">
                    <label for="hotelId">Hotel ID</label>
                    <input type="number" id="hotelId" class="form-control" formControlName="hotelId">
                  </div>

                  <div class="form-group">
                    <label for="roomName">Room Name</label>
                    <input type="text" id="roomName" class="form-control" formControlName="roomName">
                  </div>

                  <div class="form-group">
                    <label for="roomDescription">Room Description</label>
                    <textarea id="roomDescription" class="form-control" formControlName="roomDescription"></textarea>
                  </div>

                  <div class="form-group">
                    <label for="roomPrice">Room Price</label>
                    <input type="number" id="roomPrice" class="form-control" formControlName="roomPrice">
                  </div>

                  <div class="form-group">
                    <label for="numOfSingleBed">Number of Single Beds</label>
                    <input type="number" id="numOfSingleBed" class="form-control" formControlName="numOfSingleBed">
                  </div>

                  <div class="form-group">
                    <label for="numOfDoubleBed">Number of Double Beds</label>
                    <input type="number" id="numOfDoubleBed" class="form-control" formControlName="numOfDoubleBed">
                  </div>

                  <div class="form-group">
                    <label>Is Hidden</label>
                    <div class="custom-control custom-radio">
                      <input type="radio" id="notHidden" formControlName="isHide" [value]="false" class="custom-control-input">
                      <label class="custom-control-label" for="notHidden">No</label>
                    </div>
                    <div class="custom-control custom-radio">
                      <input type="radio" id="hidden" formControlName="isHide" [value]="true" class="custom-control-input">
                      <label class="custom-control-label" for="hidden">Yes</label>
                    </div>
                  </div>

                  <button type="submit" class="btn btn-primary">Save Changes</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>